# PostgreSQL connections
POSTGRES_DBS=[{"name": "[name_connect]","host": "[host]","port": [port],"database": "[db_name]","user": "beahubuser","password": "N3WTWnuPzcDYEIle"},{"name": "beahub-stg", "host": "192.168.45.53","port": 19103,"database": "[db_name]","user": "[user]","password": "[Password]"}]

# MongoDB connections
MONGO_DBS=[{"name": "[name_connect]","uri": "mongodb://[user]:[password]@[host]:[port]/[db_name]"}, {"name": "[name_connect2]","uri": "mongodb://[user]:[password]@[host]:[port]/[db_name]"}]

# MySQL connections
MYSQL_DBS=[{"name": "[name_connect]","host": "[host]","port": [port],"database": "[db_name]","user": "[user]","password": "[Password]"},{"name": "[name_connect2]","host": "[host]","port": [port],"database": "[db_name]","user": "[user]","password": "[Password]"}]
